<launch>
  <arg name="map_obstacle" default="arena2_keepout"/>
  <arg name="map_amcl" default="arena2_clean"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="/home/suii/maps/$(arg map_obstacle).yaml">
    <remap from="map" to="map_obs" />
  </node>
  <node name="map_server_keepout" pkg="map_server" type="map_server" args="/home/suii/maps/$(arg map_amcl).yaml" />

  <!-- Run Move Base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find suii_bringup)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find suii_bringup)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find suii_bringup)/config/costmap_local.yaml" command="load" />
    <rosparam file="$(find suii_bringup)/config/costmap_global.yaml" command="load" />
    <rosparam file="$(find suii_bringup)/config/teb_local_planner.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
  </node>

  <!-- Run AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find suii_bringup)/config/amcl_params.yaml" command="load" />
    <!-- We have a holonomic robot! Overwrite yaml config here! -->
    <param name="odom_model_type" value="omni"/>
   
    <remap from="scan" to="scan_combined" />
  </node>

</launch>
