<robot name="suii_base" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="suii_base">
        <link
            name="base_link">
            <inertial>
            <origin
                xyz="0.00291234070014007 -1.66533453693773E-16 0.108047440506087"
                rpy="0 0 0" />
            <mass
                value="31.4408606561222" />
            <inertia
                ixx="0"
                ixy="0"
                ixz="0"
                iyy="0"
                iyz="0"
                izz="0" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/base_link.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.321568627 0.584313725 0.192156863 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/base_link.STL" />
            </geometry>
            </collision>
        </link>
        <link
            name="lidar_front">
            <inertial>
            <origin
                xyz="-0.00064881 3.9625E-06 -0.020287"
                rpy="0 0 0" />
            <mass
                value="0.36783" />
            <inertia
                ixx="0.00010865"
                ixy="3.8659E-08"
                ixz="-1.6811E-07"
                iyy="0.00011263"
                iyz="2.7923E-08"
                izz="3.9807E-06" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/lidar_front.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.1 0.1 0.1 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/lidar_front.STL" />
            </geometry>
            </collision>
        </link>
        <joint
            name="base_lidar_front"
            type="fixed">
            <origin
            xyz="0.236544996527457 0.173000674539992 0.22"
            rpy="0 0 0.785398163397448" />
            <parent
            link="base_link" />
            <child
            link="lidar_front" />
            <axis
            xyz="0 0 0" />
        </joint>
        <link
            name="lidar_back">
            <inertial>
            <origin
                xyz="-0.000648809624193947 3.96245467831902E-06 -0.0202872608509019"
                rpy="0 0 0" />
            <mass
                value="0.36783371962175" />
            <inertia
                ixx="0.000108647845447292"
                ixy="3.8658954336174E-08"
                ixz="-1.68113694814512E-07"
                iyy="0.00011262777703387"
                iyz="2.79229405729065E-08"
                izz="3.98071378579849E-06" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/lidar_back.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.1 0.1 0.1 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/lidar_back.STL" />
            </geometry>
            </collision>
        </link>
        <joint
            name="base_lidar_back"
            type="fixed">
            <origin
            xyz="-0.239772970773009 -0.16977270029444 0.22"
            rpy="0 0 -2.35619449019234" />
            <parent
            link="base_link" />
            <child
            link="lidar_back" />
            <axis
            xyz="0 0 0" />
        </joint>
        <link
            name="wheel_right_back">
            <inertial>
            <origin
                xyz="0 0 0.0935384610645182"
                rpy="0 0 0" />
            <mass
                value="0.893028719302389" />
            <inertia
                ixx="0"
                ixy="0"
                ixz="0"
                iyy="0"
                iyz="0"
                izz="0" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/wheel_right_back.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/wheel_right_back.STL" />
            </geometry>
            </collision>
        </link>
        <joint
            name="base_wheel_right_back"
            type="fixed">
            <origin
            xyz="-0.154775 -0.0997000000000001 0.0750000000000002"
            rpy="1.5707963267949 -1.53833681942429 0" />
            <parent
            link="base_link" />
            <child
            link="wheel_right_back" />
            <axis
            xyz="0 0 0" />
        </joint>
        <link
            name="wheel_right_front">
            <inertial>
            <origin
                xyz="5.55111512312578E-17 0 0.0935384610645182"
                rpy="0 0 0" />
            <mass
                value="0.893028719302389" />
            <inertia
                ixx="0"
                ixy="0"
                ixz="0"
                iyy="0"
                iyz="0"
                izz="0" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/wheel_right_front.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/wheel_right_front.STL" />
            </geometry>
            </collision>
        </link>
        <joint
            name="base_wheel_right_front"
            type="fixed">
            <origin
            xyz="0.154775 -0.0997000000000001 0.075"
            rpy="1.5707963267949 0 0" />
            <parent
            link="base_link" />
            <child
            link="wheel_right_front" />
            <axis
            xyz="0 0 0" />
        </joint>
        <link
            name="wheel_left_back">
            <inertial>
            <origin
                xyz="0 0 -0.0263815389354818"
                rpy="0 0 0" />
            <mass
                value="0.893028719302389" />
            <inertia
                ixx="0"
                ixy="0"
                ixz="0"
                iyy="0"
                iyz="0"
                izz="0" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/wheel_left_back.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/wheel_left_back.STL" />
            </geometry>
            </collision>
        </link>
        <joint
            name="base_wheel_left_back"
            type="fixed">
            <origin
            xyz="-0.154775 0.21962 0.075"
            rpy="1.5707963267949 0.393094810426519 3.14159265358979" />
            <parent
            link="base_link" />
            <child
            link="wheel_left_back" />
            <axis
            xyz="0 0 0" />
        </joint>
        <link
            name="wheel_left_front">
            <inertial>
            <origin
                xyz="0 0 -0.0263815389354819"
                rpy="0 0 0" />
            <mass
                value="0.893028719302389" />
            <inertia
                ixx="0"
                ixy="0"
                ixz="0"
                iyy="0"
                iyz="0"
                izz="0" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/wheel_left_front.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/wheel_left_front.STL" />
            </geometry>
            </collision>
        </link>
        <joint
            name="base_wheel_left_front"
            type="fixed">
            <origin
            xyz="0.154775 0.21962 0.075"
            rpy="1.5707963267949 0.393094810426517 3.14159265358979" />
            <parent
            link="base_link" />
            <child
            link="wheel_left_front" />
            <axis
            xyz="0 0 0" />
        </joint>
        <link
            name="arm_placeholder">
            <inertial>
            <origin
                xyz="-5.55111512312578E-17 0.005 -5.55111512312578E-17"
                rpy="0 0 0" />
            <mass
                value="0.0031415926535898" />
            <inertia
                ixx="0"
                ixy="0"
                ixz="0"
                iyy="0"
                iyz="0"
                izz="0" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/arm_placeholder.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://suii_description/meshes/arm_placeholder.STL" />
            </geometry>
            </collision>
        </link>
        <joint
            name="base_arm"
            type="fixed">
            <origin
            xyz="0.20331 0 0.205"
            rpy=" 0 0 0" /> <!--1.5707963267949-->
            <parent
            link="base_link" />
            <child
            link="arm_placeholder" />
            <axis
            xyz="0 0 0" />
        </joint>
    </xacro:macro>
</robot>
